.cta{
    background: url("../../assets/100.svg") no-repeat 9% 39%;
}

.cta__content {
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 3rem;
  font-family: var(--font-family);
  background: #F8F8FE;
}

.cta__content h2 {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px; /* 140% */
  letter-spacing: -1.2px;
}

.cta__content p {
  color: #757095;
  text-align: center;
  font-size: 18px;
  max-width: 80%;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.36px;
}

.cta__content button{
    border-radius: 10px;
}