nav {
  width: 100%;
  height: 3rem;
  background: var(--bg-color);
  font-family: var(--font-family);
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: 0px 16px 50px 1px #4747470e;
  z-index: 5000;
}

.nav__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__content-logo img {
  width: 30%;
}

.nav__content-menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__content a {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.nav__content-button {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
  font-size: 25px;
}

.nav__content__hamburger-menu {
  min-height: 100vh;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background: var(--pallet-3-primary);
  padding: 0.2rem;
  position: absolute;
  right: 0;
  top: 140px;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.nav__content__hamburger-menu__link-list {
  flex-direction: column;
  display: flex;
  gap: 3px;
}
.nav__hamburger li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__hamburger li a {
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 880px) {
  .nav__hamburger li a {
    color: aliceblue;
    transition: var(--transition);
  }

  .nav__hamburger li a:hover {
    background: var(--paragraph-color);
  }
  .nav__content-menu,
  .nav__content-button {
    display: none;
  }

  .nav__hamburger {
    display: flex;
    top: 2rem;
  }
}
